# البيئة الافتراضية
venv/
env/

# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# قاعدة البيانات المحلية (لا نرفعها لغيت هاب غالباً)
db.sqlite3
parallel_shop

# ملفات الوسائط (صور المنتجات المرفوعة)
media/
products/
stores/

# إعدادات VS Code الخاصة بك
.vscode/

# Logs
logs/
auth/
cart/
favorite/
order/
shops/
*.log